@{
    ViewData["Title"] = "Carta";
}


<h1>La clave es... 7777</h1>

<form action='@Url.Action("SiguienteNivel", "Home")' method="post" enctype="multipart/form-data">
<input type = "hidden" name = "respuesta" value = "carta">
<button type="submit">Aceptar</button>
    </form>