@{
    ViewData["Title"] = "creditos";
}

<h1>¿Quienes somos?</h1>

<p>
    Somos Poda, Fidel y Chef, alumnos de ORT.
</p>
<p>
    Creamos esta sala de escape de terror con temática del vasquito, el lugar donde almorzamos empanadas casi todos los días.
</p>
<p>
    Esperamos que disfrutes la experiencia. ¡Gracias por jugar!
</p>