@{
    ViewData["Title"] = "Index";
}

<div>
    <h1>Index</h1>
    <p>Bienvenidos al sitio web de NombreProyecto</p>
    <form action='@Url.Action("GuardarNombre", "Home")' method="post" enctype="multipart/form-data">
       
        <input type="text" id="nombre" name="nombre" placeholder="Ingresa tu nombre"/>
        <button type="submit">Ingresar</button>
    </form>
</div>