@{
    ViewData["Title"] = "menu";
}

<div>
    <h1>Bienvenido</h1>
    <ul >
                <li><a href="Pantalla1.cshtml">Jugar</a></li>
                <li><a href="tutorial.cshtml"> Tutorial</a></li>
                    <li><a href="creditos.cshtml"> Más información</a></li>
               
            </ul>
</div>