@{
    ViewData["Title"] = "Menu";
}

<body>
<main class="Menu">
    <div>
        <h1>Bienvenido @ViewBag.NombreJugador</h1>
            <ul>
       <form action='@Url.Action("SiguienteNivel", "Home")' method="post" enctype="multipart/form-data">
       <input type = "hidden" name = "respuesta" value = "1">
       <button type="submit">Jugar</button> 
           </form>

 <form action='@Url.Action("SiguienteNivel", "Home")' method="post" enctype="multipart/form-data">
       <input type = "hidden" name = "respuesta" value = "Tutorial">
       <button type="submit">Tutorial</button>   
           </form>

                   <form action='@Url.Action("SiguienteNivel", "Home")' method="post" enctype="multipart/form-data">
       <input type = "hidden" name = "respuesta" value = "Creditos">
       <button type="submit">Más información</button>  
           </form>
    </div>
</main>
</body>