@{
    ViewData["Title"] = "Menu";
}

<div>
    <h1>Bienvenido</h1>
    <ul >
               
                <li><a href='@Url.Action("SiguienteNivel", "Home")'>Jugar</a></li>
                <li><a href='@Url.Action("Tutorial", "Home")'> Tutorial</a></li>
                <li><a href='@Url.Action("Creditos", "Home")'> Más información</a></li>
               
            </ul>
</div>