@{
    ViewData["Title"] = "Pantalla17";
}
<main class = "P17">
<h1>BATALLA FINAL</h1>
<h1>Con que ya te estabas yendo...</h1>
<p> Ataca a Hank's.</p>

<a href='@Url.Action("SiguienteNivel", "Home")'>Encestar pepinazo</a>
</main>