@{
    ViewData["Title"] = "Pantalla13";
}

<main class = "P13">
<h1> Hank: Jojojo!!! Me ENCANTA esta empanada!! Vas a cocinar para mi para siempre!!!!!</h1>
<p> *Hank cierra la puerta. Agarra la llave, la pone en la cerradura y cierra la puerta con llave entonces no podes salir. Ahora estas encerrado con Hank porque le gusto la empanada.</p>
<p> Fuck. </p>


 <form action='@Url.Action("SiguienteNivel", "Home")' method="post" enctype="multipart/form-data">
       <input type = "hidden" name = "respuesta" value = "1">
       <button type="submit">Continuar</button>
          </form>
</main>