@{
    ViewData["Title"] = "Pantalla6";
}

<div>
<h1>Ohhhh, con que así se ve la heladera del Vasco. Me voy a agarrar una empanada y la voy a cocinar y la voy a comer. Espero no aparezca Hank.</h1>
<li><a href='@Url.Action("SiguienteNivel", "Home")'> Pillar empanada</a></li>
</div>