@{
    ViewData["Title"] = "Pantalla12";
}

<main class = "P12">
<p> Pues ahora le voy a entregar la empanada a hank, espero que no le guste tanto porque tal vez me quiera dejar aqui cocinandole para siempre. No quiero quedar aqui para siempre.</p>

<a href='@Url.Action("SiguienteNivel", "Home")'>Entregar a Hank's.</a>
</main>