@{
    ViewData["Title"] = "Pantalla16";
}

<main class = "P16">
<h1>Voy a acercarme a su habitaci칩n. Es esa de atr치s.</h1>
<p> Camina hacia la habitaci칩n de Hank.</p>

 <form action='@Url.Action("SiguienteNivel", "Home")' method="post" enctype="multipart/form-data">
       <input type = "hidden" name = "respuesta" value = "1">
       <button type="submit">Caminar hacia habitaci칩n de Hank</button>
          </form>
        </main>
