@{
    ViewData["Title"] = "Pantalla1";
}

<body>
<main class="P1">
    <div>
        <h1> Tras una larga tarde de  estudio, decides volver a casa. No sin antes, comerte unas empanadas del vasquito...</h1>
        
<form action='@Url.Action("SiguienteNivel", "Home")' method="post" enctype="multipart/form-data">
       
      
<input type = "hidden" name = "respuesta" value = "1">
<button type="submit">Entrar al Vasquito</button>
       
    </div>
</main>
</body>