@{
    ViewData["Title"] = "Pantalla15";
}

<main class = "P15">
<h1>Eso fue facil!! La llave estaba al lado de la puerta. Me quiero vengar!!!!</h1>
<p> Encuentra un elemento para vengarte de Hank por encerrarte y hacerte cocinar empanadas.</p>

<a href='@Url.Action("SiguienteNivel", "Home")'>Pillar pepinos duales</a>
<a href='@Url.Action("ElementoEquivocado", "Home")'>Pillar Ametralladora AK-47</a>
<a href='@Url.Action("ElementoEquivocado", "Home")'>Pillar cuchillo "Sable de las tinieblas"</a>
</main>