@{
    ViewData["Title"] = "Pantalla8";
}

<main class = "P8">

    <h1>Hank's Ahorcado</h1>
 
    <h2>Adivina la empanada favorita de HANK, jugar con MAYUSCULAS</h2>

   <h3> Fallos: @ViewBag.Intentos </h3>

    <p>@ViewBag.PalabraActual  </p> 
    <form action='@Url.Action("IntentarLetra", "Home")' method="POST">
        <h2>Arriesgar Letra</h2>
        <input type="text" name="letra" maxlength="1"  placeholder="Ingrese una letra" />
        <input type="submit" value="Arriesgar letra" />
    </form>
    


    <form action = '@Url.Action("ArriesgarPalabra", "Home")' method="POST">
            <h2>Arriesgar Palabra</h2>
             <input type="text" name="palabra"  placeholder="Ingrese una palabra" />
              <input type="submit" value="Arriesgar palabra" />
    </form>
    
</main>