@{
    ViewData["Title"] = "Pantalla19";
}
<main class = "P19">
<h1>Oh... Esos fueron demasiados pepinazos para Hank. Esta muerto. </h1>
<h1>Hank era un buen tipo, te cuidaba, te daba tus empanadas cada día, el solamente quería comer unas empanadas mas. Ahora esta muerto. Bien hecho.</h1>
<p>Supongo que ganaste...</p>
<img src="~/Images/Ganaste.png" alt="Imagen de una supuesta victoria.">
</main>