@{
    ViewData["Title"] = "Pantalla10";
}


<main class = "P10">
<h1> Frie la empanada </h1>
  <form action='@Url.Action("SiguienteNivel", "Home")' method="post" enctype="multipart/form-data">
       <input type = "hidden" name = "respuesta" value = "1">
       <button type="submit">Freir</button>
          </form>
</main>