@{
    ViewData["Title"] = "Pantalla11";
}

<main class = "P11">
<p> Es hora de sacar la empanada </p>

  <form action='@Url.Action("SiguienteNivel", "Home")' method="post" enctype="multipart/form-data">
       <input type = "hidden" name = "respuesta" value = "1">
       <button type="submit">Sacar Empanada</button>
</main>