@{
    ViewData["Title"] = "Pantalla4";
}

 <main class = "P4">
 
  <form action='@Url.Action("SiguienteNivel", "Home")' method="post" enctype="multipart/form-data">
       <input type = "hidden" name = "respuesta" value = "1">
       <button type="submit">Encender la luz</button>
   </main>