@{
    ViewData["Title"] = "Pantalla5";
}

<div>
<h1> Mmmm. Que ganas de unas empanadas. Realmente deseo comer unas empanadas. Seguramente detrás de esa puerta haya. Pero tiene clave??? </h1>
<h2> Encuentra la carta con la clave para la puerta de las empanadas. </h2>
<li><a href='@Url.Action("Carta", "Home")'> boton</a></li>
<li><a href='@Url.Action("Puerta", "Home")'> botonPuerta</a></li>

</div>