@{
    ViewData["Title"] = "Pantalla9";
}

<main class = "P9">
<p> Ok. Ahora que se que la empanada es de humita debo cocinar la empanada de humita como le gusta a Hank </p>
<p> Lo haré con... </p>

 
  <form action='@Url.Action("SiguienteNivel", "Home")' method="post" enctype="multipart/form-data">
       <input type = "hidden" name = "respuesta" value = "1">
       <button type="submit">Freidora</button>
          </form>
 
  <form action='@Url.Action("SiguienteNivel", "Home")' method="post" enctype="multipart/form-data">
       <input type = "hidden" name = "respuesta" value = "">
       <button type="submit">Horno</button>
          </form>
 
  <form action='@Url.Action("SiguienteNivel", "Home")' method="post" enctype="multipart/form-data">
       <input type = "hidden" name = "respuesta" value = "">
       <button type="submit">Microondas</button>           
          </form>                             
</main>