@{
    ViewData["Title"] = "Pantalla7";
}

<main class = "P7">
<div>
<h1>Ohhhh, aparecio Hankkkkk. Fuck.</h1>
<p>*Hank cierra la puerta*</p>
<h1> Hank: No se que decir. Debes hacerme una empanada si quieres salir de aqui con vida. Adivina cual es mi empanada favorita. Soy hank y este es mi ahorcado.</h1>
<li><a href='@Url.Action("SiguienteNivel", "Home")'> Comenzar ahorcado de Hank</a></li>
</div>
 </main>