@{
    ViewData["Title"] = "Pantalla7";
}

<main class = "P7">
<div>
<h1>Ohhhh, aparecio Hankkkkk. Fuck.</h1>
<p>*Hank cierra la puerta*</p>
<h1> Hank: No se que decir. Debes hacerme una empanada si quieres salir de aqui con vida. Adivina cual es mi empanada favorita. Soy hank y este es mi ahorcado.</h1>
 </div>
  <form action='@Url.Action("SiguienteNivel", "Home")' method="post" enctype="multipart/form-data">
       <input type = "hidden" name = "respuesta" value = "1">
       <button type="submit">Comenzar ahorcado de Hank</button>
          </form>

 </main>