@{
    ViewData["Title"] = "Pantalla5";
}

<body>
 <main class = "P5">

<div>
<h1> Mmmm. Que ganas de unas empanadas. Realmente deseo comer unas empanadas. Seguramente detrás de esa puerta haya. Pero... fuckkk. Esta BLOQUEADA!!! </h1>
<h2> Encuentra la carta con la clave para desbloquear la puerta de las empanadas. </h2>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#cartaModal">
  Ver Carta
</button>
<form action='@Url.Action("SiguienteNivel", "Home")' method="post" enctype="multipart/form-data">
    <input type="text" id="claveIngresada" name="claveIngresada" placeholder="Ingresa la clave de la puerta"/>
        <button type="submit">Confirmar Codigo</button>
    </form>

</div>
  </main>


<div class="modal fade" id="cartaModal" tabindex="-1" aria-labelledby="cartaModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h1>La clave es... 7777</h1>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
  </body>