@{
    ViewData["Title"] = "Pantalla9";
}

<p> Ok. Ahora que se que la empanada es de humita debo cocinar la empanada de humita como le gusta a Hank </p>
<p> Lo haré con... </p>


<li><a href='@Url.Action("SiguienteNivel", "Home")'>Freidora</a></li>
<li><a href='@Url.Action("Perdiste", "Home")'>Horno</a></li>
<li><a href='@Url.Action("Perdiste", "Home")'>Microondas...</a></li>                                          