@{
    ViewData["Title"] = "Perdiste";
}

<div>
<li><a href='@Url.Action("SiguienteNivel", "Home")'> Encender la luz</a></li>
</div>

<h1>¡Perdiste, papá!</h1>

<a href='@Url.Action("Menu", "Home")'>Volver a intentarlo</a>