@{
    ViewData["Title"] = "Perdiste";
}

<div>
<li><a href='@Url.Action("SiguienteNivel", "Home")'> Encender la luz</a></li>
</div>

<h1>¡Perdiste, papá!</h1>
<video width="640" height="360" controls autoplay muted loop>
  <source src="Images/video.mp4" type="video/mp4">
  Tu navegador no soporta el elemento de video.
</video>

<a href='@Url.Action("Menu", "Home")'>Volver a intentarlo</a>