@{
    ViewData["Title"] = "Perdiste";
}

<video width="1900" height="900" autoplay muted loop>
<source src="~/Images/Game-Over.mp4" type="video/mp4">
  Tu navegador no soporta el elemento de video.
</video>

<a href='@Url.Action("Menu", "Home")'>Volver a intentarlo</a>