@{
    ViewData["Title"] = "Tutorial";
}
<main class = "Tutorial">
<div>
    <h1>Reglas: <h1>
    <ul>
    <li> 1 - Jugar limpio </li>
    <li> 2 - Estate atento... Se puede poner más díficil de lo que pensabas. </li>
    <li> 3 - No compartas tu contraseña a terceros </li>
    <li> 4 - Busca los botones interactivos </li>
    <li> 5 - No hables del club de Hank </li>
    <li> Consejo de pro... cuidado con elegir al ciruja. </li>
    </ul>
</div>
</main>