html {
  font-size: 14px;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  margin: 10px;
  padding: 10px;
}


footer {
  margin-top: 10px;
  padding: 10px;
  background-color: #f8f9fa;
  border-top: 1px solid #e9ecef;
}

*{
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}



li{
  padding: 1%;
  list-style: none;
}

li a{
    background-color: grey;
    padding: 0.5%;
    border-radius: 3px;
    color: rgb(126, 1, 1);
    text-decoration: none;
}

h1{
  color: rgb(126, 1, 1);
}



.Menu{
    background-image: url("/Images/Menu.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 800px;
}

.Menu h1{
  padding-top: 17%;
  text-align:center;
  color: white;
}

.Menu ul{
  text-align:center;
  list-style: none;
}

.Menu ul li
  {
   padding: 0.5%; 
  }

.Menu ul li a{
  text-align:center;
  list-style: none;
  color: white;
  text-decoration:none;
  background-color:black;
  padding:0.2%;
  border-radius: 7px;
}



.P1{
    background-image: url("/Images/Pantalla1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 800px;
}

.P1 h1{
  padding-top: 2%;
  padding-left: 2%;
  width: 40%;
  height: auto;
}

.P1 li{
  margin-left: 1%;
}


.P2{
  background-image: url("/Images/Pantalla2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 800px;
}


.P3{
  background-image: url("/Images/Pantalla3.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 800px;
}


.P4{
  background-image: url("/Images/Pantalla4.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 800px;
}

.P4 li{
  margin-left: 68%;
  padding-top: 16.5%;
 
}

.P4 li a {
  text-align:center;
  list-style: none;
  color: transparent;
  text-decoration:none;
  background-color: transparent;
  padding:0.2%;
  border-radius: 7px;
}

.P4 li a:hover{
  text-align:center;
  list-style: none;
  color: white;
  text-decoration:none;
  background-color:  black;
  opacity: 0.5;
  padding:0.2%;
  border-radius: 7px;
}


.P5{
  background-image: url("/Images/Pantalla5.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 800px;
  padding-left: 2%;
}

.P5 h1{
  padding-top: 2%;
  width: 40%;
  height: auto;
}

.P5 h2{
  width: 20%;
  background: #e9ecef;
  opacity: 0.5;
  height: auto;
  font-size: 80%;
}

.P5 li a {
  padding: 1%;
  margin-left: 70%;
  margin-top: 100%;
  
}

.P5 li {
  width: 10%;
  margin-left: 70%;
  margin-bottom: 20%;
}

